{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Details</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Details of {{ country.cname }}</h1>
        <p><strong>Country Name:</strong> {{ country.cname }}</p>
        <p><strong>Population:</strong> {{ country.population }}</p>
        <a href="{% url 'country_list' %}" class="button">Back to Country List</a>
    </div>
</body>
</html>
